* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  height: 10vh;
  box-shadow: 0 0 3px gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-img {
  width: 8vw;
}

.nav-inner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 25%;
}

.home {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
  background-color: darkslategrey;
}

.home > :nth-child(even) {
  background-color: darkslategrey;
}

.home > :nth-child(odd) {
  background-color: rgb(89, 143, 143);
}

.details {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
  cursor: pointer;
}

.nav {
  color: white;
}

.flags {
  width: 20vw;
}

.viewmore {
  background-color: darkslategrey;
  color: white;
}

.navlink {
  color: white;
  text-decoration: none;
}

.search-country {
  width: 20vw;
  height: 5vh;
  padding-left: 1vw;
  box-shadow: 0 0 3px gray;
  border: none;
  margin-right: 2vw;
  outline: none;
  border-radius: 5px;
}

.cont-flag {
  width: 30vw;
}

.details-cont {
  width: 60vw;
  height: 80vh;
  margin: auto;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.cont-in {
  margin: auto;
}

.region {
  margin-top: 5%;
}

.arr {
  margin-left: 5vw;
  margin-top: 5vh;
  font-size: 30px;
}

.details-cont-inner > div {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.details-cont-inner > :nth-child(even) {
  background-color: rgb(32, 57, 57);
}

.details-cont-inner > :nth-child(odd) {
  background-color: rgb(89, 143, 143);
}

@media only screen and (max-width: 768px) {
  .flags {
    width: 30vw;
  }

  .home {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }

  .home > :nth-child(4n+1),
  .home > :nth-child(4n) {
    background-color: darkslategrey;
  }

  .home > :nth-child(4n+2),
  .home > :nth-child(4n+3) {
    background-color: rgb(89, 143, 143);
  }

  .details {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 30vh;
    cursor: pointer;
  }

  .nav-inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 45%;
  }

  .search-country {
    width: 40vw;
    height: 5vh;
    padding-left: 1vw;
    box-shadow: 0 0 3px gray;
    border: none;
    margin-right: 2vw;
    outline: none;
    border-radius: 5px;
  }

  .details-cont {
    width: 90vw;
    height: 80vh;
    margin: auto;
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .cont-flag {
    width: 90vw;
  }

  .cont-in {
    margin: auto;
  }

  .nav {
    color: white;
  }

  .details-cont-inner {
    width: 100vw;
  }

  .details-cont-inner > div {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
  }

  .details-cont-inner > :nth-child(even) {
    background-color: rgb(32, 57, 57);
  }

  .details-cont-inner > :nth-child(odd) {
    background-color: rgb(89, 143, 143);
  }
}
